<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTpJd_48daiBBz_jmY1yBX5IHXRlYGfxU</string>
	<key>GCM_SENDER_ID</key>
	<string>23443083020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFingerprintAtm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>atmapp-df541</string>
	<key>STORAGE_BUCKET</key>
	<string>atmapp-df541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23443083020:ios:6bf4ffd9634be0af50c329</string>
</dict>
</plist>